<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhonny.mpopular">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application
        android:allowBackup="true"
        android:icon="@mipmap/lanzador"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.jhonny.mpopular.activity.PrincipalActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jhonny.mpopular.activity.BuscadorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.activity.NuevoUsuarioActivity"
            android:label="@string/title_activity_nuevo_usuario"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.activity.NuevaRedActivity"
            android:label="@string/title_activity_nueva_red"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.activity.MisRedesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_mis_redes" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.activity.AcercaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_acerca" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.activity.ConfiguracionActivity"
            android:label="@string/title_activity_configuracion"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.activity.TerminosActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_terminos" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.activity.AyudaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_ayuda" >
        </activity>
    </application>

</manifest>