<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhonny.mpopular"
    android:versionCode="1"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lanzador"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.jhonny.mpopular.PrincipalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jhonny.mpopular.BuscadorActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.NuevoUsuarioActivity"
            android:label="@string/title_activity_nuevo_usuario"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.NuevaRedActivity"
            android:label="@string/title_activity_nueva_red"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.MisRedesActivity"
            android:label="@string/title_activity_mis_redes" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.AcercaActivity"
            android:label="@string/title_activity_acerca" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.ConfiguracionActivity"
            android:label="@string/title_activity_configuracion"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.OpcionesActivity"
            android:label="@string/title_activity_opciones" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.TerminosActivity"
            android:label="@string/title_activity_terminos" >
        </activity>
        <activity
            android:name="com.jhonny.mpopular.AyudaActivity"
            android:label="@string/title_activity_ayuda" >
        </activity>
    </application>

</manifest>